<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.0/cash.min.js" %>
<%= javascript_include_tag "https://checkout.razorpay.com/v1/checkout.js" %>

<div id='razorpay' class='btn razorpay-payment-button pull-right'>
  Pay by Razorpay
</div>

<div id='checking' style='display: none;'>
<svg width="2.5rem" height="2.5rem" viewBox="0 0 135 135" xmlns="http://www.w3.org/2000/svg" fill="#ddd">
    <circle cx="15" cy="15" r="15">
        <animate attributeName="r" from="15" to="15"
                 begin="0s" dur="0.8s"
                 values="15;9;15" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="1" to="1"
                 begin="0s" dur="0.8s"
                 values="1;.5;1" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
    <circle cx="60" cy="15" r="9" fill-opacity="0.3">
        <animate attributeName="r" from="9" to="9"
                 begin="0s" dur="0.8s"
                 values="9;15;9" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="0.5" to="0.5"
                 begin="0s" dur="0.8s"
                 values=".5;1;.5" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
    <circle cx="105" cy="15" r="15">
        <animate attributeName="r" from="15" to="15"
                 begin="0s" dur="0.8s"
                 values="15;9;15" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="1" to="1"
                 begin="0s" dur="0.8s"
                 values="1;.5;1" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
</svg>
  <h1>Validating your payment</h1>
  <p>Please wait</p>
</div>
<div id='blockUI-message' style='display: none;'>
  <svg width="2.5rem" height="2.5rem" viewBox="0 0 135 135" xmlns="http://www.w3.org/2000/svg" fill="#ddd">
    <circle cx="15" cy="15" r="15">
        <animate attributeName="r" from="15" to="15"
                 begin="0s" dur="0.8s"
                 values="15;9;15" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="1" to="1"
                 begin="0s" dur="0.8s"
                 values="1;.5;1" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
    <circle cx="60" cy="15" r="9" fill-opacity="0.3">
        <animate attributeName="r" from="9" to="9"
                 begin="0s" dur="0.8s"
                 values="9;15;9" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="0.5" to="0.5"
                 begin="0s" dur="0.8s"
                 values=".5;1;.5" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
    <circle cx="105" cy="15" r="15">
        <animate attributeName="r" from="15" to="15"
                 begin="0s" dur="0.8s"
                 values="15;9;15" calcMode="linear"
                 repeatCount="indefinite" />
        <animate attributeName="fill-opacity" from="1" to="1"
                 begin="0s" dur="0.8s"
                 values="1;.5;1" calcMode="linear"
                 repeatCount="indefinite" />
    </circle>
</svg>

  <p>
    <b>Holdon!</b>
    While we connect you back to merchant's site
  </p>
</div>

<script type="text/javascript">
$(function () {
    $("#checkout-summary .btn").hide();
    $("#razorpay").click(function() {
      $("#blockUI-message").show();
      $("#razorpay").hide();
      var options = {
        "key": "<%= payment_method.preferences[:key_id] %>",
        "amount": "<%= current_order.amount_in_paise %>",
        'name': "<%= payment_method.preferences[:merchant_name] %>",
        'description': "<%= payment_method.preferences[:merchant_description] %>",
        "handler": function (response){
          $(document).ajaxStart(function() {
            
          });

          $.ajax({
            type: 'POST',
            url: "/razorpay",
            data: { payment_method_id: "<%= payment_method.id %>", razorpay_payment_id: response.razorpay_payment_id },
            dataType: 'html'
          }).done(function(data){
            $("#checking").show();
            $("#blockUI-message").hide();
            setTimeout(function(){
              window.location.replace("/orders/<%= current_order.number %>");
            }, 1500);
          });
        },
        "prefill": {
          "name": "<%= spree_current_user.try(:email) %>",
          "email": "<%= spree_current_user.try(:email) %>"
        },
        "notes": {
          "address": "<%= payment_method.preferences[:merchant_address] %>"
        },
        "theme": {
          "color": "<%= payment_method.preferences[:theme_color] %>"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
  });
});
</script>

